<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Calendar</title>
  </head>
  <body>
    <!-- Calendar reminders-->
    {% if reminders %}
    <div class="reminders">
        <div class="gr">Alerts</div>
        {% for reminder in reminders %}<p> {{ reminder.short|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Content -->
    {% block content %}
      {{ content }}
    {% endblock %}
    <!-- END Content -->
  </body>
</html>
